

<ion-view view-title="Inicio">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider"><u><b><i>Actividades</i></b></u></div>
      <div class="item item-body">
        <div>
         Actividades recientes 
        </div>
      </div>
    </div>
    
    
    
    <div class="list card">
      <div class="item item-divider"><b>Salud</b></div>
      <div class="item item-body">
        <div>
          Que puedes comer.
        </div>
      </div>
    </div>
    
    
    <div class="list card">
      <div class="item item-divider"><b>Pendientes</b></div>
      <div class="item item-body">
        <div>
          Tienes <b>10</b> notificaciones pendientes.
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
